* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}


.objectCover {
  object-fit: fill;
}

.heading-main {
  font-size: 160px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ccc;
  letter-spacing: 0.07em;
  font-family: "Telefon Black";
}
.heading-main strong {
  /* background: linear-gradient(-45deg, #1CB5E0 0%, #000046 100% ); */
  background: linear-gradient(-45deg, #44C8F5 0%, #00629B 100% );

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.past-events-heading , .upcoming-events-heading{
  font-size: 120px;
}

.about-us-intro {
  background: rgb(72, 72, 72);
  padding: 8rem 4rem;
}

.hero-section-heading {
  font-size: 4.8rem;
  text-transform: capitalize;
  width: 50%;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.hero_section-image {
  width: 30rem;
  height: 35rem;
  border-radius: 0.8rem;
}
.hero-section {
  background: #212529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 8rem;
}
.content-heading {
  font-size: 5.6rem;
  text-transform: capitalize;
}
.content-text {
  font-size: 2rem;
  line-height: 1.5;
}
.our-mission_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 50%;
}
.ieee-lead {
  width: 25rem;
  height: 30rem;
}
.our-mission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 12rem;
}
.ieee-information {
  background-color: #212529;
  padding: 4rem 8rem;
  display: grid;
  grid-template-rows: 35rem 35rem;
  grid-template-columns: 40rem 40rem 40rem;
  justify-content: center;
  gap: 3rem;
}
.main-card {
  display: grid;
  padding: 3rem;
  gap: 2rem;
  grid-template-columns: 35rem;
  grid-template-rows: 5rem 15rem 5rem;
}
.main-card_heading {
  font-size: 2.4rem;
  color: #fff;
}
.card-heading {
  font-size: 2.4rem;
}
.main-card_text {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
}
.card-text {
  font-size: 1.7rem;
  line-height: 1.5;
  z-index: 99;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  text-align: justify;
}
.card-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}
.info-card-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #0d6efd;
}
.information-card_header {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  z-index: 99;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.information-card {
  position: relative;
  display: grid;
  padding: 3rem;
  background-color: #fff;
  gap: 2rem;
  border-radius: 10px;
  overflow: hidden;
  grid-template-columns: 35rem;
  grid-template-rows: 5rem 15rem 5rem;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.information-card::before {
  content: "";
  position: absolute;
  left: 50;
  bottom: 0;
  width: 6px;
  height: 100%;
  /* background: linear-gradient(-45deg, #1CB5E0 0%, #000046 100% ); */
  background: linear-gradient(-45deg, #44C8F5 0%, #00629B 100% );
  /* z-index: -1; */
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.information-card:hover .information-card_header,.information-card:hover .card-text {
  color: #e8e8e8;
}

.information-card:hover::before {
  width: 100%;
}


.ieee-week-btn {
  --c: #fff;
 /* text color */
  background: linear-gradient(-45deg, #44C8F5 0%, #00629B 100% ) var(--_p,100%)/300% no-repeat,
    #004dff;
 /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
  position: fixed;
  right: 5%;
  bottom: 10%;
  transition: all 0.3s ease-in  ;
}

.ieee-week-btn:hover,
.ieee-week-btn:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.ieee-week-btn:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.ieee-week-btn {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 1rem 3rem;
}


